{
  "extends": "@antfu",
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/no-var-requires": "off",
    "n/prefer-global/process": "off"
  }
}
